<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>这是ejs模板引擎</h3>
    2.&nbsp;渲染页面：
    <h4><%= title%></h4>
    3. 公共数据放在中间件的state里，任何模板都能使用：<br>
    <%= userinfo.name %>
</body>
</html>