<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 3.引入路径写法： -->
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <h1 class="header">koa-static middleware</h1>
    <form action="/koastatic" method="post">
        <div>
            <label for="username">用户名：</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="pwd">密&nbsp;&nbsp;&nbsp;码：</label>
            &nbsp;<input type="password" name="pwd">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>