<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>update</h3>
    <form action="/doUpdate" method="post">
        <!-- <input type="text" name="id" value="{{@data._id}}" style="display:none"> -->
        <input type="hidden" name="id" value="{{@data._id}}">
        <p>
            用户名：<input type="text" name="username" placeholder="请输入用户名" value="{{data.username}}">
        </p>
        <p>
            年&nbsp;&nbsp;&nbsp;龄：
            <input type="number" value="{{data.age}}" name="age">
        </p>
        <p>
            性别：
            <label>
                <input type="radio" name="gender" value="M">男
            </label>
            <label>
                <input type="radio" name="gender" value="F">女
            </label>
        </p>
        <p>
            <button>修改</button>
        </p>
        
    </form>
    
</body>
</html>