<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body { margin:0; padding:0; box-sizing: border-box; }
        table { 
            width: 100%;
            text-align: center;
            background: #f4f4f4;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <a href="/add">增加用户</a>
    <table>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
        {{ each list }}
        <tr>
            <td>{{$value.username}}</td>
            <td>{{$value.age}}</td>
            <td>{{$value.gender}}</td>
            <td><a href="/update?id={{@$value._id}}">编辑</a>&nbsp;<a href="/delete?id={{@$value._id}}">删除</a></td>
        </tr>
        {{ /each }}
    </table>
</body>
</html>