<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 1. nodejs原生的处理： -->
    <!-- 2. koa-bodyparser处理： -->
    <!-- <form method="post" action="/koabodyparser"> -->
    <form method="post" action="/nodejspost">
        <label for="user">用户名：</label><input type="text" name="user"><br>
        <label for="password">密&nbsp;&nbsp;&nbsp;码：</label><input type="password" name="password"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>